<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Melnyk portfolio </title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper container">
    <header>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="text-center logo">Volodymyr Melnyk</h1>
            </div>
            <div class="col-sm-6">
                <p class="text-center about">Here presented some of my works.<br> I will be grateful for any comments on the code
                    and feel free to contact me</p>
            </div>
        </div>
    </header>
    <div class="separator"></div>
    <main>
        <section>
            <div class="works__head">
                <img src="img/code.svg" alt="code" class="works__icon">
                <h3>Examples</h3>
            </div>
            <div class="works__body row"></div>
        </section>
    </main>
    <div class="separator separator--bottom"></div>
    <footer class="footer">
        <div class="row">
            <div class="col-xs-8">
                <span class="copyright">&copy 2017 Melnyk Volodymyr</span>
            </div>
            <div class="col-xs-4">
                <div class="links">
                    <a href="https://github.com/VovaMelnyk" target="_blank">
                        <img src="img/github-logo.svg" alt="git-link">
                    </a>
                    <a href="https://www.linkedin.com/in/vova-melnyk/" target="_blank">
                        <img src="img/linkedin-logo-button.svg" alt="linkedin-link">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- lodash  -->
<script type="text/template" id="examples-lodash">
    <% _.forEach(data, function (item) { %>
    <div class="col-md-4 col-sm-6">
        <figure class="center-block work__item">
            <a href="<%- item.demoLink %>" target="_blank"><img src="img/<%- item.img %>" alt="<%-item.alt %>" class="img-responsive"></a>
            <figcaption>
                <h4 class="description-title"><%- item.title %></h4>
                <p class="description-text"><%- item.description %></p>
                <p class="description-tech">Technologies:
                    <% _.forEach (item.technologies, function (tech) { %>
                    <%- tech %>
                    <% }) %>
                </p>
                <a href="<%- item.demoLink %>" class="btn-primary btn" target="_blank"><%- item.demo %></a>
                <% if(_.indexOf(data, item) > 0) { %>
                <a href="<%- item.codeLink %>" class="btn-success btn" target="_blank"><%- item.code %></a>
               <% } %>
            </figcaption>
        </figure>
    </div>
    <% }) %>
</script>
<script src="js/lodash.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
